body {
  margin: 0;
  padding: 0;
}


  .navbar {
background-color: transparent !important; 
}
.navbar-toggler{
  background-color: #D86083;
  color: #F9F3EB;

}
.offcanvas{
  background-color: #F8E71C;
  font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;
}
.offcanvas a{
  color: #D86083;
}
.offcanvas form button:hover{
  background-color: #D86083;
}
.textovanguardia p{
color: #F9F3EB;
}
.texto-informativo p{
  font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;
}

.texto-informativo span{

color: #F8E71C;
}

.texto-informativo a{
  text-decoration: none;
}




.section {
  position: relative;
  overflow: hidden;
  z-index: 2; 
}
.section1 {
  background-image: url("resources/fondoindex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


li{
  font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;

 
}
.caracteristicas span{
  color: #F8E71C;
}
.caracteristicas{
font-size: 27px;
}
.caracteristicas h1{
font-size: 8vw;
  color: #F9F3EB;
}

.custom-h1 {
  font-family: 'Rubik One', sans-serif;
  background-color: #D86083;
  font-size: 15vw; 
  width: 100%;
  margin: 0;
}

.section2 {
  background-color: #1251C1;
  height: auto;
  color: #F9F3EB;
}
.section3 {
  background-color: #D86083;
  height: auto; 
}
.section4 {
  margin-top: 10%;
background-color: #1251C1;
height: auto;
color: #F9F3EB;
}
.section5 {
  background-color: #D86083;
  height: auto; 
  color: #1251C1;
  }

.section6{
  background-color: #f9f3eb;
}


p{
  font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;
}
.bg-pink {
  background-color: #FFA8BF;
  color: #D00000;
  font-size: 30px;
  font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif; font-size: 180PX;
}

.navbar-nav li {
  margin-right: 1rem; 
  margin-left: 1rem; 
}

.wave img {
  width: 100%; 
 
  top: 0;
  left: 0;
}
.semicirculo img {
     width: 100%;
 top: 0;
 left: 0;}

 .artist-img {
position: relative;
overflow: hidden;
margin-bottom: 20px; 
}

.artist-img img {
transition: transform 0.3s ease;
border: 6px solid #f9f3eb;
border-radius: 50%;
overflow: hidden;
}

.artist-name {
font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;
  font-size: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 39, 86, 0.7);
color: #f9f9f9;
padding: 5px;
text-align: center;
opacity: 0;
transition: opacity 0.3s ease;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}

.artist-img:hover .artist-name {
opacity: 1;
}


a{
  text-decoration: none;
}


 *{
        margin: 0;
        padding:0;
        box-sizing: border-box;
    } 
    html{
        overscroll-behavior: none;

    }
    ::-webkit-scrollbar {
        display: none;
}
.vlaminckbody{
  background-color: #f9f3eb;
}
.vlaminckbody p{
  color: #D86083;
}
.matissebody{
  height: 100%;
  background-color: #F9F3EB !important;
  }
.derainbody{
  background-color: #F9F3EB;
}
.dufybody{
  background-color: #3C5C95;
}
.dufycontent{
  background-color: #D887A8!important;
}



h1 {
font-family: 'Rubik One';
color: #F9F3EB;
font-weight:400;
text-transform: uppercase;

     }

     .dropdown-menu {
            right: 0;
            left: auto;
            padding: 0.5rem;
            columns: 2;
        }

        .dropdown-item {
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: normal;
            line-height: 1.5;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
p {
font-weight: 400; 
line-height: 1.5;
width: 50;}
h4{
  font-family: 'Rubik One';
  font-weight: 400; 
  line-height: 1.5;
}
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .logo{
    position: fixed;
    top: 0;
    right: 0;
    margin: 2em;
    width: 80px;
border-radius: 100%;
z-index: 10000;
 }

 .header{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
display: flex;
width: 100%; 
z-index: 2;
 }

 .letters {
flex: 1;
display: flex;
text-transform: uppercase;
}

.letters > div {
flex: 1;
font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;
font-size: 18vw;
font-weight: 400; 
color: #D86083;
text-align: center;}

.website-content{
position: fixed;
top: 0;
width: 100%;
min-height: 100vh;
}
.img-holder {
position: relative;
top: 0;
width: 100%;
height: 100vh;
clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%); 
transform: rotate(30deg);
}
.img-holder img {
position: relative;
transform: scale(2);
}
.content-holder {
position: relative;
top: -5px;
width: 100%;

color:#F9F3EB;
}
.content-holder .derain2 {
  background: #F9F3EB!important; 
}
.row {
margin: 2em 1em;
}
.img {
width: 200px;
height: 275px;
}

.row:nth-child(2) .img {
position: relative;
left: 50%;
}
.row:nth-child(3) .img {
position: relative;
left: 15%;
}
.row:nth-child(6) p {
position: relative;
left: 30%;
margin: 4em 0;
}
.collapse{
  z-index: 10000;
}

.dropdown-toggle::after {
  color:transparent;

}



.titulo-semicirculo {
  position: relative;
  top: -90px; 
  text-align: center;
  font-size: 8vw; 
  color: #F9F3EB;
}

.footer{
  color: #f9f9f9;


}
.footer p{
  font-size: 20px;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  padding-left: 20px; 
  background-image: url('resources/Copia de Capa 0 copia 3.png'); 
  background-size: 20px; 
  background-repeat: no-repeat; 
}
.carousel-control-prev,
    .carousel-control-next {
        margin-left: -100px; 
        margin-right: -100px; 
    }

    .contactobody{
      background-image: url(resources/fondocontacto.jpg);
      font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;
        }
  

    .contactosection {
      margin-top: 10%; 
  }
    .contacto h1{
      color: #D86083;
      font-family: 'Rubik One';
      font-size: 15vw;
  }
  .form-group{
color:#F8E71C;
margin: 2%;
  }
  #contact-form
  {
    width: 70%;
  }
  .navbar .btn{
  margin-top: 5%;
  background-color: #D86083;
  border: none;
  color:#F9F3EB
  }
  .navbar .btn:hover{
    background-color: #1251C1;
  }

  .citaartista{
    width: 60%;
    font-size: 2vw;
  }
  


.section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
   .img-fluid {
    height: 100%;
    width: auto;
}
  .vanguardia h1{
        font-family: 'Rubik One';
        color: #f9f3eb;
        font-size:12vw;
    }

    .parte1 {
        color: transparent;
    }

    .texto-explicacion {
        font-size: 25px;
    }y
  

    .custom-icon {
background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.image-container {
  position: relative;
  overflow: hidden;
}

#historydufy{
background-color: #1251C1;
height: auto;
}
.image-container img {
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(36, 37, 37, 0.552);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.image-container:hover .overlay {
  height: 100%;
}


.overlay p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 10px;
}

.matisseintro{
margin: 2%;
color: #D86083;
font-family: italic;;
}
#history {
  background-color: #D86083;
  height: auto;
        }
 #history p{
  font-size: 130%!important;
}
#historydufy p{
  font-size: 130%!important;
}
#historyvlaminck {
background-color: #1251C1;
height: auto;
}
#historyvlaminck p{
  font-size: 130%!important;
}

.navbar {
  z-index: 1000!important;
}

.masterpieces{
  background-color: #F9F3EB;
}

.obrasbody{

  background-color: #1251C1;
}

.obrastitulo h2{
margin-left: 3%;
  font-family: 'Twentieth Century W01', Futura, Helvetica, Arial, sans-serif;
    color: #F9F3EB;
    font-size: 2vw;   

 }

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.anterior, .siguiente {
  background-color: rgba(0, 39, 86, 0.7);
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #F9F3EB;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.siguiente {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.anterior:hover, .siguiente:hover {
  background-color: rgba(242, 255, 54, 0.732);
}

.text {
    background-color:rgba(36, 37, 37, 0.552);
    text-align: center;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}




@media only screen and (max-width: 300px) {
  .anterior, .siguiente,.text {font-size: 11px}
}

#obrassliderr{
  height: auto;
}